html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Futura, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('fonts/Raleway-SemiBold.eot');
  src: url('fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-SemiBold.woff') format('woff'),
    url('fonts/Raleway-SemiBold.ttf') format('truetype'),
    url('fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('fonts/Raleway-Bold.eot');
  src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Raleway-Bold.woff') format('woff'),
    url('fonts/Raleway-Bold.ttf') format('truetype'),
    url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Open-Sans';
  src: url('fonts/Open-Sans.eot');
  src: url('fonts/Open-Sans.eot?#iefix') format('embedded-opentype'),
    url('fonts/Open-Sans.woff') format('woff'),
    url('fonts/Open-Sans.ttf') format('truetype'),
    url('fonts/Open-Sans.svg#Raleway-SemiBold') format('svg');
  font-style: normal;
  font-weight: normal;
}

.clearfix {
  clear: both;
}

.header {
  width: 100%;
  background-image: url('../img/headerbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.75);
  content: ' ';
}
.main-wr-menu {
  padding-top: 30px;
}
.wrapper-menu {
  width: 100%;
  height: 80px;
  background: transparent;
  margin: 0px auto;
}

.logo {
  font: 30px Raleway-SemiBold, sans-serif;
  color: #17d0ac;
  padding: 25px 0 0 0;
  display: block;
  float: left;
}

.logo-wrapper {
  width: 80%;
  margin: 0 auto;
}
.menu {
  display: block;
  padding: 25px 30px 0 0;
  float: right;
}
.menu-item {
  display: inline-block;
  font: 13px Open-Sans, sans-serif;
  padding: 10px 30px 0 0;
}

.menu-item a {
  text-decoration: none;
  color: #7e7c7e;
  font-weight: 600;
}
.menu-item a:hover {
  color: #000000;
}
.menubutton {
  display: none;
}
.wrapper-header {
  width: 80%;
  margin: 110px auto;
}
.header-content {
  width: 50%;
  color: #ffffff;
  font-size: 22px;
  float: left;
}
.header-content > ul {
  font-size: 16px;
  line-height: 2;
  margin-top: 5%;
}
.header-picture {
  width: 40%;
  position: absolute;
  right: 0;
}
.lead-text {
  font: 42px Raleway-SemiBold, sans-serif;
  margin-bottom: 10px;
}
.btnheader-download {
  display: inline-block;
  margin-top: 75px;
  background: #17d0ac;
  /* background-image: url("../img/bgdownload.jpg"); */
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  behavior: url(PIE.htc);
  color: #ffffff;
  font: 20px Open-Sans, sans-serif;
  margin-bottom: 18%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: 20px 60px;
}

.btnheader-download:hover {
  opacity: 0.8;
}

.header-picture > img {
  width: 50%;
}

/*   First Block   */
.first-block {
  position: relative;
  display: block;
}
.heading-2 {
  text-align: center;
  text-transform: uppercase;
  color: #1ab798;
  font: 28px Raleway-Bold, sans-serif;
  font-weight: 600;
}

.headingpic {
  text-align: center;
  margin-top: 20px;
  opacity: 0.6;
}

.first-block-wrapper {
  width: 80%;
  margin: 5% auto;
}

.first-block-text {
  font: 18px Open-Sans, sans-serif;
  text-align: center;
  line-height: 2;
  margin-bottom: 40px;
}

.first-inner-wrapper {
  display: inline-block;
  width: 32%;
  margin-top: 2%;
  vertical-align: middle;
}
.art {
  padding: 5% 0;
}
.art-pic {
  display: block;
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

.float-image {
  overflow: hidden;
  line-height: 1.6;
}

.first-heading-3 {
  font-weight: 600;
  line-height: 2.2;
}

.main-phone-pic {
  width: 90%;
}

/*  Second Block  */

.second-block {
  width: 100%;
  background: #17d0ac;
}

.second-block-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}

.second-inner {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.second-heading-3 {
  font: 28px Raleway-SemiBold, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 2%;
}

.second-text {
  font: 16px Open-Sans, sans-serif;
  color: #ffffff;
  line-height: 1.5;
  width: 80%;
}

.second-icons {
  display: inline-block;
  margin-top: 4%;
}

.second-icon {
  display: inline-block;
  width: 66px;
  height: 66px;
  background: #0098cd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  behavior: url(PIE.htc);
  margin-right: 20px;
}

.second-icon:hover {
  background: #222222;
}

.second-icon-pic {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
}

.border-video {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  behavior: url(PIE.htc);
}

/*  Third Block  */

.third-block {
  width: 100%;
  margin: 5% auto;
}

.inner-wrapper {
  width: 90%;
  margin: 0 auto;
}

.team-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-member {
  width: 30%;
  margin: 5% 0;
}

.team-name {
  font-weight: 600;
  font: 36px Open-Sans, sans-serif;
  text-align: center;
}

.role {
  color: #17d0ac;
  font-weight: 600;
  font: 24px Open-Sans, sans-serif;
  margin-bottom: 3%;
  text-align: center;
  margin-top: 2%;
}

.describe {
  font: 16px Open-Sans, sans-serif;
  line-height: 1.8;
  text-align: center;
}

.link-block {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.read-more {
  text-align: center;
  font: 24px Open-Sans, sans-serif;
  color: #17d0ac;
}

.first-block-wrapper > img {
  width: 100%;
}

.footer-link {
  color: #31d4e7;
  font-weight: 900;
  font: 24px Open-Sans, sans-serif;
}

.member-name-1,
.member-name-2,
.member-name-3,
.member-name-4 {
  margin-top: 30px;
  font-weight: 600;
}

.team-figcaption {
  font: 13px Open-Sans, sans-serif;
  color: #777777;
}

.picture-1 {
  background: url('../img/member-1.jpg');
  z-index: 1;
  width: 270px;
  height: 300px;
  display: block;
}
.picture-2 {
  background: url('../img/member-2.jpg');
  z-index: 1;
  width: 270px;
  height: 300px;
  display: block;
}
.picture-3 {
  background: url('../img/member-3.jpg');
  z-index: 1;
  width: 270px;
  height: 300px;
  display: block;
}
.picture-4 {
  background: url('../img/member-4.jpg');
  z-index: 1;
  width: 270px;
  height: 300px;
  display: block;
}

.member-picture-3 {
  z-index: 1;
}

.team-text {
  width: 270px;
  z-index: 1;
  display: block;
  position: absolute;
  margin-top: 30px;
  color: #ffffff;
  line-height: 1.5;
}

.heading-4 {
  margin-bottom: 10px;
  font-weight: 600;
}

.text-one,
.text-two,
.text-three,
.text-four {
  visibility: hidden;
}

.member-social {
  display: block;
  float: left;
  text-align: center;
  position: absolute;
  margin-top: 80px;
  margin-left: 70px;
}

/*  Fourth Block  */

.fourth-block {
  width: 100%;
  margin: 5% auto;
}

.slider {
  margin-top: 5%;
}

.slider-figcaption {
  margin-top: 20px;
}

.figcaption-decs {
  font-size: 12px;
}

.slider-text {
  line-height: 2;
  margin-top: 5%;
}

.quote {
  display: block;
  overflow: hidden;
  float: left;
  margin-top: -20px;
}

/*  BX-Slider  */
.bx-wrapper .bx-pager,
.bx-wrapper {
  display: block !important;
  text-align: center !important;
  margin: 0 auto;
}
.bx-controls-direction {
  display: none;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #d4d3d4 !important;
}
.bx-pager.bx-default-pager a.active {
  background: #1ab798 !important;
}

/*  Footer  */
.contact-us {
  width: 100%;
  margin: 5% auto 0;
  background-image: url('../img/footer-bg.jpg');
  background-size: cover;
}

.footer-heading {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font: 28px Raleway-Bold, sans-serif;
  font-weight: 600;
  padding-top: 5%;
}

.footer-wrapper {
  width: 80%;
  margin: 5% auto 0;
}

.footer-inner {
  display: inline-block;
}

.heading-3 {
  color: #ffffff;
  font: 24px Raleway-SemiBold, sans-serif;
}

.footer-text {
  color: #5d5d5d;
  font: 14px Open-Sans, sans-serif;
  margin: 4% 0;
  line-height: 1.5;
}

.footer-social {
  margin-top: 10%;
}

.footer-link {
  color: #31d4e7;
  text-decoration: none;
  margin-right: 80px;
}

.contact-form {
  vertical-align: top;
  width: 100%;
}

.form-input {
  height: 45px;
  width: 47%;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  behavior: url(PIE.htc);
  margin-bottom: 30px;
  padding-left: 20px;
}
.input-left {
  float: left;
}

.input-right {
  float: right;
}

.footer-textarea {
  width: 95%;
  padding: 20px;
}

.submit {
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  behavior: url(PIE.htc);
  border: none;
  color: #ffffff;
  font: 22px Open-Sans, sans-serif;
  background: #31d4e7;
  float: right;
  width: 170px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
}

.submit:hover {
  background: #1ab798;
}

.footer-devider {
  width: 100%;
  height: 1px;
  background: #686868;
  margin-top: 5%;
}

.footer-bottom {
  width: 80%;
  margin: 0 auto;
}

.copy-text {
  display: block;
  float: left;
}

.design-text {
  display: block;
  float: right;
}

.bott-text {
  color: #5d5d5d;
  font: 14px Open-Sans, sans-serif;
  padding: 3% 0 1% 0;
}

.bott-text a {
  color: #5d5d5d;
}

/*  MEDIA  */

@media screen and (max-width: 1600px) {
  .header-picture > img {
    width: 55%;
  }
  .form-input {
    width: 45%;
  }
}

@media screen and (max-width: 1440px) {
  .header-picture > img {
    width: 60%;
  }
  .form-input {
    width: 45%;
  }
  .footer-textarea {
    width: 94%;
  }
}
@media screen and (max-width: 1280px) {
  .btnheader-download {
    margin-bottom: 14%;
  }
}

@media screen and (max-width: 1200px) {
  .header-picture > img {
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .header-picture > img {
    width: 75%;
  }
  .form-input {
    width: 44%;
  }
  .footer-textarea {
    padding: 10px;
  }
}

@media screen and (max-width: 960px) {
  .header-picture > img {
    width: 80%;
  }
  .main-phone-pic {
    width: 100%;
  }
  .float-image {
    overflow: hidden;
    line-height: 1;
  }
}

@media screen and (max-width: 900px) {
  .lead-text {
    font: 40px Raleway-SemiBold, sans-serif;
  }
  .header-picture > img {
    width: 100%;
  }
  .btnheader-download {
    margin-bottom: 24%;
  }
  .second-inner {
    width: 100%;
    display: inline-block;
    margin-top: 5%;
  }
  .center {
    text-align: center;
  }
  .form-input {
    height: 45px;
    width: 95%;
  }
  .input-left,
  .input-right {
    float: none;
  }
}

@media screen and (max-width: 864px) {
  .lead-text {
    font: 36px Raleway-SemiBold, sans-serif;
  }
  .header-picture > img {
    width: 95%;
  }
  .btnheader-download {
    margin-bottom: 20%;
  }
  .contact-us {
    background-image: url('../img/footer-bg-864.jpg');
  }
}

@media screen and (max-width: 800px) {
  .header-content {
    width: 50%;
    color: #ffffff;
    font-size: 22px;
    float: left;
    position: absolute;
  }
  .header {
    width: 100%;
    height: 700px;
    background-image: url('../img/headerbg-800.jpg');
  }
  .header-picture > img {
    width: 100%;
    margin-left: -50px;
  }
  .btnheader-download {
    margin-bottom: 0;
  }

  .menu-item a {
    color: #ffffff;
  }
  .lead-text {
    font: 34px Raleway-SemiBold, sans-serif;
  }
  /*.header-picture>img {
	width: 100%;
	margin-left: -80px;
}*/
  .float-image {
    overflow: hidden;
    font-size: 14px;
  }

  .menubutton {
    float: right;
    display: block;
    /*position: absolute;*/
    width: 55px;
    height: 36px;
    background: url('../img/dropdown.png');
    margin-top: 25px;
    margin-right: 30px;
  }
  .menu {
    float: right;
    display: none;
    position: relative;
    z-index: 2;
    margin-top: 80px;
    margin-left: 30px;
    width: 200px;
    background: #5e5c5c;
  }
  .menu-item {
    border-right: 0px solid #f0eded;
    display: block;
    padding: 10px;
    text-align: center;
  }

  .slider-text {
    line-height: 1.5;
    margin-top: 2%;
  }
}

@media screen and (max-width: 736px) {
  .header-content {
    width: 45%;
    color: #ffffff;
    font-size: 22px;
    float: left;
    position: absolute;
  }
  .header {
    width: 100%;
    height: 700px;
  }
  .header-picture > img {
    width: 100%;
    margin-left: -50px;
  }
  .btnheader-download {
    margin-bottom: 0;
  }
  .first-block {
    margin-top: 5%;
  }
  .footer-inner {
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .header {
    width: 100%;
    background-image: url('../img/headerbg-640.jpg');
  }
  .header-picture > img {
    width: 100%;
    margin-left: -40px;
  }
  .contact-us {
    background-image: url('../img/footer-bg-640.jpg');
  }
}
@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    height: 650px;
  }
  .header-picture > img {
    width: 80%;
    margin-left: -10px;
  }
}
.copy,
.designed {
  float: none;
}
.bottom-text {
  color: #5d5d5d;
  font: 14px Open-Sans, sans-serif;
  margin-bottom: 2%;
  margin-top: 2%;
}

@media screen and (max-width: 568px) {
  .menu {
    margin-top: 25px;
  }
  .header {
    height: 600px;
  }
  .wrapper-header {
    margin: 10px auto;
  }
}

@media screen and (max-width: 512px) {
  .phone-picture {
    display: none;
  }
  .first-inner-wrapper {
    width: 49%;
  }
  .slider-text {
    line-height: 1.2;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 580px;
  }
  .header-content {
    width: 90%;
    margin-left: 5%;
  }
  .header-content > ul {
    font-size: 20px;
    margin-top: 5%;
  }
  .header-picture {
    display: none;
  }
  .wrapper-header {
    width: 100%;
    margin: 50px auto;
  }
  .btnheader-download {
    margin-top: 40px;
  }
  .slider-text {
    line-height: 1;
    margin-top: 1%;
    font-size: 14px;
  }

  .team-member {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .header-content {
    font-size: 14px;
  }
  .lead-text {
    font: 30px Raleway-SemiBold, sans-serif;
  }
  .first-block-text {
    line-height: 1.5;
  }
  .first-inner-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead-text {
    font: 24px Raleway-SemiBold, sans-serif;
  }
  .header-content > ul {
    font-size: 16px;
  }
  .header {
    height: 500px;
  }
  .first-block-text {
    line-height: 1.2;
    font-size: 16px;
  }
  .second-icon {
    margin-right: 10px;
  }
}
